.info_card{
padding: 2px 16px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
background-color: #5c8597;
border-radius: 15px;
padding: .25em .25em;
width: 20%;
text-align: center;
float:left;
height: 1000px;
margin-top: 5px;
margin-left: 5px;
color: #223d47;
}

.info_card h2, p{
font-weight: bold;
margin-bottom: 0;
}

.info_card a{
color: #223d47;
font-weight: bold;
}

.info_card a:hover{
color:white;
padding: 10px;
background-color: #223d47;
border-radius: 15px;
}

.info_card_pfp{
width: 170px;
border-radius: 15px;
margin-top: 5px;
}

.theme_custom{
background-color:#84b8bb;
}

.card_custom{
background-color: #5c8597;
padding: 20px;
border-radius: 15px;
margin-left: 1.5em;
display: table-caption;
margin-top: 0.5em;
width: 700px;
color: black;
}

.card_custom p{
font-weight: 100;
}

.card_custom a{
color: #08181e;
}

.card_custom a:hover{
color: white;
}

.end{
text-align: center;
margin-top: .5em;
}

.top-text{
margin-left: 2em;
padding-top: 1em;
}

.top-text a{
color: #223d47;
{

.top-text a:hover{
color: white;
}
