*{
box-sizing: border-box;
}

a{
color: black;
text-decoration: none;

}

a:hover{
color:white;
}


body{
background-color: #526A81;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
}

.leftcolumn{
float: left;
width: 65%;
}

.rightcolumn{
float: left;
width: 35%;
padding-left: 5px;
}

.img{
width:100%;
padding: 20px;
display: contents;

}

.card{
background-color: #2e465C;
padding: 20px;
margin-top: 20px;
border-radius: 15px;
margin-left: 1.5em;
}

.card2{
background-color: #2e465C;
margin-top: 20px;
margin: 15%;

}

.rows:after{
content: "";
display: table;
clear: both;
}

@media screen and (max-width:800px){
.leftcolumn .rightcolumn{
width: 100%;
padding:0;
}
}


.button{
background-color: #2e465C;
border: none;
border-radius: .25em;
padding: .5em .75em;
font-weight: bold;
}

.button:hover{
background-color: #181e24;
color: #fff;

}

.navbar{
border: 1px solid #2e465C;
padding:0.5px;
background: #2e465C;
}

.navbar .container{
display:flex;
align-items: center;
justify-content: space-between;
}

.navbar-nav{
display:flex;
list-style: none;
padding: 0;
}

.navbar-nav li{
padding: .5em;
margin: 0 .5em;
}



.blog_post header{
text-align: center;
margin-top: 4em;
}

.blog_post header h5{
text-transform: uppercase;
}

.blog_post header h1{
text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6{
margin-bottom: 1em;
}

.blog_post .image{
margin-top: 2em;
margin-bottom: 2em;
}

.rounded-image img{
display: block;
width: 100%;
border-radius: 8px;

}

.subtitle{
margin-top: 2em;
}

.summary{
padding-left: 40px;

}

.summary li{
margin-top: 1em;
}

footer{
background-color: #2e465C;
font-size: .9em;
margin-top: 2em;
padding: 1.11em 0;
}

.contact-form label, 
.contact-form input, 
.contact-form select, 
.contact-form textarea{
display: block;
width: 100%;

}

.contact-form label{
margin-bottom: 0.5em;

}

.contact-form input,
.contact-form select,
.contact-form textarea{
border: 1px solid #2e465C;
padding: .5em;
border-radius: 8px;
}

.contact-form :invalid{
border-color: red;
color: red;
}

.contact-form :invalid::placeholder{
color: red;

}

.contact-form button{
cursor: pointer;
padding: 1em;
width: 100%;
font-size: 1.2em;
}

.contact-form button.clear{
background-color: red;
}

.contact-form button.clear:hover{
background-color: rgb(92, 2, 2);
}

.contact-details hr{
border: none;
border-top: 1px solid #181e24;
margin: 2em 0;
}

.contact-details h3{
margin-bottom: .5em;

}

.contact-details p{
margin: 0;
}

.sidenav{
height: 100%;
width: 170px;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #2e465C;
overflow-x: hidden;
padding-top: 10px;
white-space: nowrap;
}

.sidenav a{
padding: 6px 8px 6px 8px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
list-style: none;
background-color: #2e465C;
border: none;
border-radius: .25em;
padding: .25em .5em;
display:inline-block;
align-items: center;
}

.sidenav li{
list-style-type: none;
}

.sidenav a:hover{
 color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.sidenav a{
font-weight: bold;
}

.sidenav p{
font-weight: 100;
}


.jumbotron{
background-image:url(../Images/Fantasma\ Ghost\ GIF\ -\ Fantasma\ Ghost\ Fantasma\ Louco\ -\ Discover\ &\ Share\ GIFs.gif);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 30em;
margin-bottom: 2em;
position: relative;
}

.jumbotron h1{
background-color: #2e465C;
bottom: 0;
margin: .5em;
padding: .25em .5em;
position:absolute;
}

.link-button{
width: 65px;
height: 65px;
border-radius: 15px;
}

.navbar-brand-img{
width: 120px;
height: 30px;
position:relative;
float:left;
}

.pfp{
width: 30px;
height: 30px;
border-radius: 5px;
position: relative;
float: left;
}

.pfp_text{
display: flex;
}

.pfp_text h5{
padding-left: .5em;
padding-top: .25em;
font-size: large;
}

.navbar_pfp{
width: 30px;
height: 30px;
border-radius: 5px;

}

